#Inputs{
    width: 60%;
    margin: auto;
    margin-top: 5%;
}
#InputButton{
    display: inline-table;
    float: right;
    width: 28%;
}
#nome{
    display: inline-table;
    width: 50%;  
}

#siorgButton{
    width: 100%;
}
#inputSiorg{
    width: 30%;
}
#buttonSiorg{
    display: block;
    margin-top: -10%;
    margin-left: 31%;
}