#Inputs{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}
#InputButton{
    display: inline-table;
    float: right;
    width: 28%;

}

#criaReq{
    float: right;
    display: inline-table;
    margin-top: 0px;
}

/*#confirm{
    margin: 10px;
    margin-left: 75%;
}
.confirm{
    margin: 10px;
}*/

#nome{
    display: inline-table;
    width: 50%;  
}

/*.btn:disabled {
    color: grey;
}*/

.right {
    float: right;
}

.btn {
    margin: 5px;
}

#InputButtonSiorg{
    width: 35%;
    float: left;
    display: inline-flex;
}
#inputSiorg{
    height: 100%; 
    margin: auto;   
}

.modal-xl { 
    max-width: 1140px; 
}

.titulo{
    margin-bottom: 1cm;
}
#optInput{
    width: 25%;
}
